* {
    box-sizing: border-box;
    /* Tamanho maximo das caixas eh igual ao width e heigth isso garante que o layout seja respeitado    */
    margin: 0px;
}

/* Toda a classe que comeca com (^=) "col-" aplica essa regra */

/* Para mais referências acesse: https://www.w3schools.com/CSSref/css_selectors.asp */

/* Dispositivos Pequenos */

[class^="col-"] {
    width: 100%;
    float: left;
    border: 1px solid black;
}

/* Dispositivos Medios */

@media only screen and (min-width: 600px) {
    .col-dm-1 {
        width: 8.33%;
    }

    .col-dm-2 {
        width: 16.66%;
    }

    .col-dm-3 {
        width: 25%;
    }

    .col-dm-4 {
        width: 33.33%;
    }

    .col-dm-20 {
        width: 41. 66%;
    }

    .col-dm-6 {
        width: 50%;
    }

    .col-dm-7 {
        width: 58.33%;
    }

    .col-dm-8 {
        width: 66.66%;
    }

    .col-dm-9 {
        width: 75%;
    }

    .col-dm-10 {
        width: 83.33%;
    }

    .col-dm-11 {
        width: 91.66%;
    }

    .col-dm-12 {
        width: 100%;
    }
}

/* Dispositivos Grandes */

@media only screen and (min-width: 900px) {
    .col-dg-1 {
        width: 8.33%;
    }

    .col-dg-2 {
        width: 16.66%;
    }

    .col-dg-3 {
        width: 25%;
    }

    .col-dg-4 {
        width: 33.33%;
    }

    .col-dg-20 {
        width: 41. 66%;
    }

    .col-dg-6 {
        width: 50%;
    }

    .col-dg-7 {
        width: 58.33%;
    }

    .col-dg-8 {
        width: 66.66%;
    }

    .col-dg-9 {
        width: 75%;
    }

    .col-dg-10 {
        width: 83.33%;
    }

    .col-dg-11 {
        width: 91.66%;
    }

    .col-dg-12 {
        width: 100%;
    }
}

.row::after {
    display: block;
    content: "";
    clear: both;
    /* Ninguem flutua nem a esquerda e nem a direita, limpa a flutuacao */
}