* {
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    margin: 0;

}

body {
    background-image: url("/image/BACKGROUND_JOGO_WHOAMI.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px rgb(83, 83, 83);
}

h2 {
    font-size: 30px;
    color: rgb(209, 209, 209);
    padding: 20px;
    text-shadow: 2px 2px rgb(243, 9, 9);
}

.displayCadastro {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #75757544;
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
    width: 500px;
}

.displayLogin {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #75757544;
    padding: 25px 10px 50px 10px;
    border-radius: 10px;
    width: 300px;
}

.infCad {
    font-weight: lighter;
    margin-bottom: 5px;
}

.formulario {
    width: 600px;
    height: 400px;
    padding: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(0, 255, 255);
    text-shadow: 3px 2px #757575;
    font-size: 15px;
    padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    color: black;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 65%;
    display: block;
    margin: auto;
    outline: 0;
    height: 20px;

}

input[type="button"],
[type="reset"] {
    display: block;
    margin: auto;
    width: 250px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: 0;
    transition: 1s;
    background-color: rgba(0, 255, 255, 0.87);
}

input[type="button"]:hover,
[type="reset"]:hover {
    letter-spacing: 3px;
    transition: 1s;
    color: white;
    text-shadow: 2px 2px rgb(29, 29, 29);
    background-color: rgb(0, 97, 97);
}

input[type="checkbox"] {
    margin-right: 200px;
    margin: auto;
    text-align: center;
}

.saveSenha {
    margin: auto;
    text-align: center;
    font-size: 8px;
    text-shadow: none;
    color: white;
    display: table;
    background-color: #75757544;
    border-radius: 5px;
    margin-top: 10px;

}