.starGroup1{
animation: 
}
.starGroup2 {

}
.starGroup3 {

}
.starGroup4 {

}
.star1 {
    position: absolute;
    left: 5px;
    right: 5px;
    top:10px;
    bottom: 5px;
    background-image: url("/image/star5.png");
}
.star2 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}.star3 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star4 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star5 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star6 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star7 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star8 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star9 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star10 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star11 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star12 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star13 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star14 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star15 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star16{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star17 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star18{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star19{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star20{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star21{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star22{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star23{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star24{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star25{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star26{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star27 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star28 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star29 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star30 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star31{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star32{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star33{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star34{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star35{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star36{
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star37 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star38 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star39 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star40 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star41 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star42 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}.star43 {
    position: absolute;
    left: 15px;
    right: 20px;
    top:10px;
    bottom: 5px;
}
.star44 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star45 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}

.star46 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}

.star47 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}

.star48 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}

.star49 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}

.star50 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star51 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star52 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star53 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star54 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}
.star55 {
    position: absolute;
    left: 15px;
    right: 20px;
    top: 10px;
    bottom: 5px;
}